svg-icon{display: block;line-height: 0;}

.cl-bg *{fill: var(--cl-bg);}
.cl-header *{fill: var(--cl-header);}
.cl-style-dk *{fill: var(--cl-styke-dk);}
.cl-style-md *{fill: var(--cl-style-md);}
.cl-style-lt *{fill: var(--cl-style-lt);}
.cl-style-detail-dk *{fill: var(--cl-py);}
.cl-style-detail-md *{fill: var(--cl-sy);}
.cl-style-detail-lt *{fill: var(--cl-ty);}
