<div class="container">
    <div class="content-box center txt-center slide-up-list">
        <app-svg class="fade-in mb-5" [svgReference]="'brand'" [customHeight]="true" [size]="200" [color]="'-'"></app-svg>
        <div class="line-detail-dk center"></div>
        <h1 class="font-title-md cl-style-dk txt-center mt-5 mb-3">Mensagem enviada com Sucesso!</h1>
        <p class=" font-size-md txt-center mb-3">Agradecemos sua mensagem, em breve entraremos em contato</p>
        <div class="btn-box flex center mb-5">
            <a [routerLink]="['/']" [href]="'/'" class="df-btn font-up pointer">Página Inícial</a>
        </div>
    </div>
</div>
