<div class="contact-section">
    <div class="container flex center">
        <div class="content txt-center">
            <app-breadcrumb class="mb-5" [color]="'cl-style-dk'"></app-breadcrumb>
            <app-svg class="fade-in mb-3" [svgReference]="'brand'" [customHeight]="true" [size]="400" [color]="'-'"></app-svg>
            <h1 class="font-title-lg cl-style-dk mb-3">Orçamento</h1>
            <h2 class="font-title-md cl-style-dk mb-3">Preencha os campos abaixo e envie sua mensagem:</h2>
            <span class="line-detail-dk"></span>
            <div class="form-box mt-3 slide-left-list" [formGroup]="contactForm">
                <div class="flex center mb-3">
                    <input placeholder="Nome" [formControlName]="'name'" type="text" onClick="this.select();">
                </div>
                <div class="flex center mb-3">
                    <input placeholder="E-mail" [formControlName]="'email'" type="text" onClick="this.select();">
                </div>
                <div class="flex center mb-3">
                    <input placeholder="DDD + Telfone" [formControlName]="'phone'" type="text" onClick="this.select();">
                </div>
                <div class="flex center mb-3">
                    <input placeholder="CNPJ" [formControlName]="'cnpj'" type="text" onClick="this.select();">
                </div>
                <div class="flex center mb-3">
                    <select [formControlName]="'subject'">
                        <option value="null" disabled selected>Assunto</option>
                        <option value="E-mail do Site - Contato" selected>Contato</option>
                        <option value="E-mail do Site - Informações" selected>Informações</option>
                        <option value="E-mail do Site - Reservas" selected>Reservas</option>
                    </select>
                </div>
                <div class="flex center mb-3">
                    <textarea placeholder="Mensagem" [formControlName]="'message'"></textarea>
                </div>
                <div class="flex bottom mt-3">
                    <span (click)="resetForm()" class="pointer">limpar campos</span>
                    <button *ngIf="!sending" (click)="sendMail()" class="df-border-dk font-up">Enviar</button>
                    <button *ngIf="sending"  class="df-border-dk font-up">Enviando...</button>
                </div>
            </div>
        </div>
    </div>
</div>
