<div class="container flex center">
    <app-breadcrumb class="mt-6 mb-6" [color]="'cl-style-dk'"></app-breadcrumb>
</div>
<div class="contact-section">
    <div class="container flex center b top">
        <div class="text-box slide-up-list">
            <h1 class="font-title-lg cl-style-dk mb-3">Orçamento</h1>
            <p class="mb-3">Preencha os dados no formulário e um de nossos consultores entrará em contato</p>
            <a target="_blank" [href]="'https://api.whatsapp.com/send?phone=5549991374038'" class="df-btn-green font-uni-sm font-up pointer" title="Whatsapp">Whatsapp</a>
<!--            <h2 class="font-bold font-size-lg mb-2">Atendimento</h2>-->
<!--            <div class="btn-box flex start mb-3">-->
<!--                <a target="_blank" [href]="'https://api.whatsapp.com/send?phone=5549991374038'" class="flex font-up pointer mr-1"  aria-label="whatsapp" #anchor><app-svg class="mr-1" [svgReference]="'whatsapp'"></app-svg> (49) 99137-4038</a>-->
<!--            </div>-->
<!--            <h2 class="font-bold font-size-lg mb-2">Rede Sociais</h2>-->
<!--            <div class="btn-box flex start">-->
<!--                <a target="_blank" href="https://www.instagram.com/lsestruturasolares/" class="flex font-up pointer mr-1" aria-label="instagram"><app-svg [hoverColor]="'cl-sy'" [color]="'cl-style-dk'" [svgReference]="'instagram'"></app-svg></a>-->
<!--                <a target="_blank" href="https://www.facebook.com/profile.php?id=100085333474249" class="flex font-up pointer" aria-label="facebook"><app-svg [hoverColor]="'cl-sy'" [color]="'cl-style-dk'" [svgReference]="'facebook'"></app-svg></a>-->
<!--            </div>-->
        </div>
        <div class="content txt-center">
            <h2 class="font-bold font-size-lg mb-3 mt-3">Vamos conversar</h2>
            <div class="form-box mt-3 slide-left-list" [formGroup]="contactForm">
                <div class="flex mb-3">
                    <input placeholder="Nome" [formControlName]="'name'" type="text" onClick="this.select();">
                    <input placeholder="E-mail" [formControlName]="'email'" type="text" onClick="this.select();">
                </div>
                <div class="flex mb-3">
                    <input placeholder="DDD + Telefone" [formControlName]="'phone'" type="text" onClick="this.select();">
                    <input placeholder="CNPJ" [formControlName]="'cnpj'" type="text" onClick="this.select();">
                </div>
                <div class="flex center mb-3">
                    <input placeholder="Assunto" [formControlName]="'subject'" type="text" onClick="this.select();">
                </div>
                <div class="flex center mb-3">
                    <textarea placeholder="Mensagem" [formControlName]="'message'"></textarea>
                </div>
                <div class="flex bottom mt-3">
                    <span (click)="resetForm()" class="font-size-sm pointer underline">Limpar campos</span>
                    <button *ngIf="!sending" (click)="sendMail()" class="df-btn-square-shadow font-up">Enviar</button>
                    <button *ngIf="sending"  class="df-border-dk font-up">Enviando...</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="contact-section">-->
<!--    <div class="container flex center">-->
<!--        <div class="content txt-center">-->
<!--            <app-breadcrumb class="mb-5" [color]="'cl-style-dk'"></app-breadcrumb>-->
<!--            <app-svg class="fade-in mb-3" [svgReference]="'brand'" [customHeight]="true" [size]="400" [color]="'-'"></app-svg>-->
<!--            <h1 class="font-title-lg cl-style-dk mb-3">Orçamento</h1>-->
<!--            <h2 class="font-title-md cl-style-dk mb-3">Preencha os campos abaixo e envie sua mensagem:</h2>-->
<!--            <span class="line-detail-dk"></span>-->
<!--            <div class="form-box mt-3 slide-left-list" [formGroup]="contactForm">-->
<!--                <div class="flex center mb-3">-->
<!--                    <input placeholder="Nome" [formControlName]="'name'" type="text" onClick="this.select();">-->
<!--                </div>-->
<!--                <div class="flex center mb-3">-->
<!--                    <input placeholder="E-mail" [formControlName]="'email'" type="text" onClick="this.select();">-->
<!--                </div>-->
<!--                <div class="flex center mb-3">-->
<!--                    <input placeholder="DDD + Telefone" [formControlName]="'phone'" type="text" onClick="this.select();">-->
<!--                </div>-->
<!--                <div class="flex center mb-3">-->
<!--                    <input placeholder="CNPJ" [formControlName]="'cnpj'" type="text" onClick="this.select();">-->
<!--                </div>-->
<!--                <div class="flex center mb-3">-->
<!--                    <select [formControlName]="'subject'">-->
<!--                        <option value="null" disabled selected>Assunto</option>-->
<!--                        <option value="E-mail do Site - Contato" selected>Contato</option>-->
<!--                        <option value="E-mail do Site - Informações" selected>Informações</option>-->
<!--                        <option value="E-mail do Site - Reservas" selected>Reservas</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="flex center mb-3">-->
<!--                    <textarea placeholder="Mensagem" [formControlName]="'message'"></textarea>-->
<!--                </div>-->
<!--                <div class="flex bottom mt-3">-->
<!--                    <span (click)="resetForm()" class="pointer">limpar campos</span>-->
<!--                    <button *ngIf="!sending" (click)="sendMail()" class="df-border-dk font-up">Enviar</button>-->
<!--                    <button *ngIf="sending"  class="df-border-dk font-up">Enviando...</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
