<header class="{{getHeaderClass()}}">
    <div class="container flex fade-in">
        <div class="logo-box">
            <a [routerLink]="['/']" [href]="'/'" class="block" [title]="'Página inícial'" aria-label="Página inícial">
                <app-svg [svgReference]="'logo'" [width]="80" [color]="'cl-style-md'"></app-svg>
            </a>
        </div>
        <nav #nav class="{{menuIsActive() ? 'active' : ''}}">
            <ul>
                <li *ngFor="let item of menuList; let index = index">
                    <h2>
                        <a *ngIf="!item['externalUrl']" [routerLink]="item['url']" [href]="item['url']" class="pointer sm {{getCurrentPageIndex() == index ? 'active' : ''}}" [title]="item['title']">{{item['title']}}</a>
                        <a *ngIf="item['externalUrl']" target="_blank" [href]="item['externalUrl']" class="pointer sm {{getCurrentPageIndex() == index ? 'active' : ''}}" [title]="item['title']">{{item['title']}}</a>
                    </h2>
                </li>
            </ul>
        </nav>
        <div class="aux-box flex end">
            <a target="_blank" href="https://www.instagram.com/lentrecotedeparis/" class="flex center mr-1" aria-label="instagram"><app-svg [svgReference]="'instagram'"></app-svg></a>
            <a target="_blank" href="https://www.facebook.com/LEntrecoteDeParis/" class="flex center mr-1" aria-label="facebook"><app-svg [svgReference]="'facebook'"></app-svg></a>
            <div *ngIf="isMobilePage()" #btnMob class="btn-mob">
                <app-svg [svgReference]="'hamburger'" [color]="'cl-style-lt'"></app-svg>
            </div>
        </div>
    </div>
</header>
