<div class="hero-section">
    <div class="video-box txt-center">
        <div class="frame-box">
            <video (loadeddata)="onVideoLoaded()" [style.display]="videoLoaded ? 'block' : 'none'" autoplay muted loop>
                <source [src]="'https://lsestruturassolares.com.br/video/ls-site-opt.mp4'" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container">
        <div class="content slide-up-list">
            <h1 class="font-display-sm cl-style-lt font-up">Estruturas Solares</h1>
            <h3 class="font-title-sm cl-style-lt mt-5 mb-5">Agende uma visita técnica especializada. Nossa equipe avalia seu projeto no local e indica a estrutura ideal, com segurança e  durabilidade.</h3>
            <a [routerLink]="['/orcamento']" [href]="'/orcamento'" class="df-btn-sy font-uni-sm font-up pointer" title="Agende agora sua visita técnica">Agende agora sua visita técnica</a>
        </div>
    </div>
</div>
<div class="reference-section">
    <div class="container">
        <h2 class="font-title-md txt-center fade-in mb-6">Somos referência em estruturas solares.</h2>
        <div class="content txt-center slide-up-list">
            <div class="item">
                <app-svg class="fade-in mb-2" [svgReference]="'shieldstar'" [size]="50" [color]="'cl-style-dk'"></app-svg>
                <h3 class="font-title-sm mb-2">Qualidade</h3>
                <p class="font-size-sm">Utilizamos as mais avançadas técnicas de aprimoramento em estruturas metálicas, garantindo soluções de alta qualidade.</p>
            </div>
            <div class="item">
                <app-svg class="fade-in mb-2" [svgReference]="'cpu'" [size]="50" [color]="'cl-style-dk'"></app-svg>
                <h3 class="font-title-sm mb-2">Tecnologia</h3>
                <p class="font-size-sm">Com tecnologia de ponta garantimos resistência e confiabilidade, sempre inovando para atender às necessidades do seu projeto.</p>
            </div>
            <div class="item">
                <app-svg class="fade-in mb-2" [svgReference]="'lightbulbflash'" [size]="50" [color]="'cl-style-dk'"></app-svg>
                <h3 class="font-title-sm mb-2">Inovação</h3>
                <p class="font-size-sm">Estamos sempre inovando para oferecer a você a máxima qualidade e uma experiência incomparável.</p>
            </div>
        </div>
    </div>
</div>
<div class="about-section bg-cl-ty">
    <div class="container after-slide-right">
        <div class="content slide-left-list">
            <h2 class="font-display-sm cl-style-lt font-up mb-3">Quem somos</h2>
            <span class="line-detail-lt"></span>
            <p class="font cl-style-lt mt-3 mb-3">A LS Estruturas Solares nasceu com o propósito de entregar soluções de qualidade no mercado de energia solar, atendendo à crescente demanda por estruturas robustas e eficientes. Localizada em uma região...</p>
            <a [routerLink]="['/quemsomos']" [href]="'/quemsomos'" class="df-btn-sy font-uni-sm font-up pointer" title="Saiba mais">Saiba mais</a>
        </div>
    </div>
</div>
<div class="product-section">
    <h2 class="font-display-sm txt-center font-up mb-5 fade-in">Nossos Produtos</h2>
    <app-product-section [home]="true"></app-product-section>
    <div class="flex center">
        <a [routerLink]="['/produtos']" [href]="'/produtos'" class="df-btn-sy font-uni-sm font-up pointer" title="Veja mais">Veja mais</a>
    </div>
</div>
<div class="contact-section">
    <div class="container">
        <div class="content slide-up-list">
            <h2 class="font-title-sm cl-style-lt mt-5 mb-5">Aqui você encontra as melhores estruturas para sua usina elétrica.</h2>
            <p class="cl-style-lt mt-5 mb-5">Você foca na venda e instalação das placas solares, e nós cuidamos das estruturas, deixe a base por nossa conta, e entregue ao seu cliente uma solução completa e confiável.</p>
            <a [routerLink]="['/orcamento']" [href]="'/orcamento'" class="df-btn-sy font-uni-sm font-up pointer" title="Fale conosco">Fale conosco</a>
        </div>
    </div>
</div>

<div class="project-section">
    <h2 class="font-display-sm txt-center font-up mb-5 fade-in">Projetos Realizados</h2>
    <div class="container">
        <div class="carousel-box">
            <app-photo-section></app-photo-section>
        </div>
    </div>
</div>

<div class="video-section bg-cl-md">
    <div class="container">
        <h2 class="font-title-sm cl-style-lt mt-2 mb-5 font-cap txt-center">O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS</h2>
    </div>
    <div class="flex-desk">
        <div class="video-box slide-up">
            <iframe height="400" src="https://www.youtube.com/embed/j7qGY9rrh64" title="Feedback" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video-box slide-up">
            <iframe height="400" src="https://www.youtube.com/embed/2Wuuv7sJL9Q" title="FEEDBACK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>
