owl-carousel-o{display: flex;padding: 40px 0;margin: 0 0 15px;
    .photo{display: block;width: 100%;aspect-ratio: 1;max-height: 650px;background: var(--bg-image) 50% no-repeat;background-size: contain;}
}


