<div class="about-section">
    <div class="flex center fade-in">
        <app-breadcrumb class="mt-6 mb-6" [color]="'cl-style-dk'"></app-breadcrumb>
    </div>
    <div class="container">
        <div class="content txt-center slide-up-list">
            <h1 class="font-display-sm cl-style-dk font-up mb-3">Quem Somos</h1>
            <p class="font-size-md cl-style-dk mb-5">A LS Estruturas Solares nasceu com o propósito de entregar soluções de qualidade no mercado de energia solar, atendendo à crescente demanda por estruturas robustas e eficientes. Localizada em uma região conhecida por seus ventos fortes, a LS foi criada para suprir a necessidade de estruturas confiáveis, que garantem segurança e durabilidade mesmo em condições climáticas desafiadoras.</p>
            <p class="font-size-md cl-style-dk mb-5">Com um compromisso sólido em atender empresas do setor de energia solar, nossa produção é focada em oferecer estruturas que combinam tecnologia, resistência e alto desempenho. Cada projeto é desenvolvido com atenção aos detalhes, garantindo que nossos clientes tenham a melhor base para instalar sistemas solares de forma segura e eficiente.</p>
            <p class="font-size-md cl-style-dk mb-5">A LS Estruturas Solares é referência em qualidade e inovação, nosso objetivo é ser o parceiro ideal para empresas que buscam confiança e excelência em cada entrega</p>
        </div>
    </div>
</div>

<div class="video-section bg-cl-ty">
    <div class="video-box slide-up">
        <iframe  height="400" src="https://www.youtube.com/embed/uQK3SroAziw" title="[NATUREZA] - Filmagem na floresta em Alta Qualidade com Drone - [4K]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="project-section">
    <h2 class="font-display-sm txt-center font-up mb-5 fade-in">Projetos Realizados</h2>
    <div class="container">
        <div class="carousel-box">
            <app-photo-section></app-photo-section>
        </div>
    </div>
</div>
