<div class="about-section bg-cl-style-detail-lt">
    <div class="container-fluid after-fade-in">
        <div class="content slide-right-list">
            <app-breadcrumb class="block mr-3" [color]="'cl-style-lt'"></app-breadcrumb>
            <app-svg [svgReference]="'brand'" [width]="323" [color]="'cl-style-lt'"></app-svg>
            <h1 class="font-title-lg cl-style-lt font-up mb-3 mt-2">Sobre A LS</h1>
            <span class="line-detail-lt block"></span>
            <p class="cl-style-lt font-size-sm mb-3 mt-3">O L’Entrecôte de Paris é um restaurante com prato único. Isto mesmo, apenas um único prato é servido todos os dias, semanas, meses e anos em nossos restaurantes. Este conceito, já bastante apreciado e difundido na Europa e no mundo, foi introduzido no Brasil no fim de 2009.</p>
            <p class="cl-style-lt font-size-sm mb-3">A França tem duas famosas fórmulas secretas. Uma é a poção mágica do druida Panoramix, que dava força sobre-humana aos irredutíveis gauleses Asterix e Obelix. A outra é a receita do molho que guarnece o famoso entrecôte dos célebres restaurantes, conhecidos por todos os parisienses.</p>
            <p class="cl-style-lt font-size-sm mb-3">No que estavam cobertos de razão: com um prato tão bom assim no cardápio, quem precisa de outros?</p>
            <p class="cl-style-lt font-size-sm mb-3">Por mais de 50 anos, o suculento entrecôte fatiado, servido com fritas e recoberto com o molho secreto, tem feito a fama destes restaurantes.</p>
            <p class="cl-style-lt font-size-sm mb-3">O Entrecôte é um prato simples. Ou melhor, um prato simplesmente perfeito: um corte especial de carne, preparado de acordo com a sua preferência, acompanhado de deliciosas batatas fritas à vontade e por nosso grande segredo: um molho especial, de receita guardada a sete chaves, que leva 21 ingredientes e mais de 36 horas para ser preparado. Uma perfeita combinação de sabores e aromas. Nosso prato principal é servido em três versões: Executive, Classique, Exclusif. Consultar disponibilidade na unidade de sua escolha.</p>
        </div>
    </div>
</div>
