//.container-fluid{display: flex;justify-content: space-around;
//    .content{width: 100%;min-width: 660px;padding: var(--spc-5) var(--spc-2) 0;margin: 0 auto;}
//    &:after{content: "";width: 100%;max-width: 960px;height: 1083px;background: url("../../../assets/img/about.avif") 100% 0 no-repeat;background-size: contain;}
//}

.about-section{padding: 0 0 64px;
    .content{max-width: 820px;margin: 0 auto;}
}

.video-section{padding: 64px 0;
    .video-box{position: relative;max-width: 800px;margin: 0 auto;aspect-ratio: 16/8;z-index: 10;
        iframe{width: 100%;max-height: 100%;}
    }
}

.photo-section{padding: 100px 0 64px;
    .img-box {text-align: center;
        div{display: inline-flex;
            width: 700px;
            max-width: calc(100% - var(--spc-2));
            aspect-ratio: 1;
            margin: var(--spc-1);
            &:nth-child(1){background: url(../../../assets/img/photo-1.avif) no-repeat 50%;background-size: contain;}
            &:nth-child(2){background: url(../../../assets/img/photo-2.avif) no-repeat 50%;background-size: contain;}
            &:nth-child(3){background: url(../../../assets/img/photo-3.avif) no-repeat 50%;background-size: contain;}
            &:nth-child(4){background: url(../../../assets/img/photo-4.avif) no-repeat 50%;background-size: contain;}
            &:nth-child(5){background: url(../../../assets/img/photo-5.avif) no-repeat 50%;background-size: contain;}
            &:nth-child(6){background: url(../../../assets/img/photo-6.avif) no-repeat 50%;background-size: contain;aspect-ratio: 4/3;}
            &:nth-child(7){background: url(../../../assets/img/photo-7.avif) no-repeat 50%;background-size: contain;aspect-ratio: 4/3;}
            &:nth-child(8){background: url(../../../assets/img/photo-8.avif) no-repeat 50%;background-size: contain;aspect-ratio: 4/3;}
        }
    }
}

.project-section{padding: 120px 0;}

@media (max-width: 960px) {
    .container-fluid{display: flex;justify-content: center;
        .content{min-width: auto;
            :not(p){display: block;text-align: center; margin-left: auto;margin-right: auto;}
        }
        &:after{content: none}
    }
}

@media (max-width: 880px) {
    .video-box{margin-bottom: 0;}
}
