<div class="about-section fade-in">
    <div class="flex center">
        <app-breadcrumb class="mt-6 mb-6" [color]="'cl-style-dk'"></app-breadcrumb>
    </div>
    <h1 class="font-title-lg txt-center font-up mb-6">Nossa história</h1>
</div>

<div class="experience-section bg-cl-py">
    <div class="video-box slide-up">
        <iframe width="787" height="443" src="https://www.youtube.com/embed/uQK3SroAziw" title="[NATUREZA] - Filmagem na floresta em Alta Qualidade com Drone - [4K]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="photo-section">
    <div class="container after-fade-in">
        <h2 class="font-title-lg txt-center mb-6">Projetos Realizados</h2>
    </div>
    <div class="img-box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>
