<div class="privacity-section">
    <div class="container ">
        <h2 class="font-title-sm txt-center cl-style-dk font-up mb-5 slide-up">Política de Privacidade</h2>
        <p class="cl-style-dk slide-left">
            A Estruturas Solares valoriza a privacidade de seus usuários e está comprometida em proteger os dados pessoais que você compartilha conosco. Esta Política de Privacidade descreve como coletamos, usamos e armazenamos suas informações, em conformidade com a Lei Geral de Proteção de Dados (Lei nº 13.709/2018 - LGPD).
            <br/>
            <br/>1. Informações Coletadas
            <br/>
            <br/>A Estruturas Solares pode coletar as seguintes informações dos usuários:
            <br/>
            <br/>- Dados Pessoais: Nome, endereço de e-mail, número de telefone, endereço, e outras informações fornecidas voluntariamente por você ao preencher formulários ou interagir com o site.
            <br/>- Dados de Navegação: Informações sobre o dispositivo e navegador que você utiliza para acessar o site, incluindo endereço IP, páginas visitadas, tempo de navegação, e outras estatísticas similares.
            <br/>- Cookies: Utilizamos cookies para melhorar a experiência de navegação e personalizar o conteúdo exibido. Você pode optar por desabilitar os cookies nas configurações do seu navegador.
            <br/>
            <br/>2. Finalidade da Coleta
            <br/>
            <br/>As informações coletadas pela Estruturas Solares são utilizadas para:
            <br/>
            <br/>- Oferecer e melhorar nossos serviços;
            <br/>- Responder a solicitações de contato ou suporte;
            <br/>- Enviar comunicações relacionadas a nossos serviços, como atualizações e promoções (com o seu consentimento);
            <br/>- Realizar análises para entender o comportamento do usuário e melhorar a experiência no site;
            <br/>- Cumprir com obrigações legais.
            <br/>
            <br/>3. Compartilhamento de Dados
            <br/>
            <br/>A Estruturas Solares não vende, aluga ou compartilha suas informações pessoais com terceiros, exceto:
            <br/>
            <br/>- Quando exigido por lei, regulamento ou ordem judicial;
            <br/>- Para proteger os direitos e a segurança da Estruturas Solares, seus usuários ou o público;
            <br/>- Para fornecedores de serviços terceirizados que auxiliam na operação do site e que estão em conformidade com a LGPD.
            <br/>
            <br/>4. Segurança dos Dados
            <br/>
            <br/>A Estruturas Solares implementa medidas de segurança técnicas e organizacionais para proteger os dados pessoais contra acesso não autorizado, perda, alteração ou destruição. Contudo, é importante lembrar que nenhuma transmissão de dados pela internet é 100% segura, e não podemos garantir a total segurança das informações transmitidas.
            <br/>
            <br/>5. Seus Direitos
            <br/>
            <br/>De acordo com a LGPD, você tem os seguintes direitos em relação aos seus dados pessoais:
            <br/>
            <br/>- Acessar, corrigir ou excluir seus dados;
            <br/>- Solicitar a limitação do tratamento de seus dados;
            <br/>- Retirar o consentimento dado anteriormente para o tratamento dos dados;
            <br/>- Portabilidade dos dados a outro fornecedor de serviços, mediante solicitação.
            <br/>
            <br/>Para exercer seus direitos, entre em contato conosco através do e-mail sac&#64;hexah.com.br.
            <br/>
            <br/>6. Alterações na Política de Privacidade
            <br/>
            <br/>A Estruturas Solares reserva-se o direito de alterar esta Política de Privacidade a qualquer momento. As alterações serão comunicadas aos usuários por meio de avisos no site ou outros canais apropriados.
            <br/>
            <br/>7. Contato
            <br/>
            <br/>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade ou sobre o tratamento de seus dados pessoais, entre em contato conosco através do telefone: 49 991374038
        </p>
    </div>
</div>
