<div class="container txt-center">
    <app-breadcrumb class="mt-6 " [color]="'cl-style-dk'"></app-breadcrumb>
    <h1 class="font-title-lg font-up mt-3 mb-6">{{getDescription()}}</h1>
</div>

<div class="category-section {{urlRefer}}">
    <div class="container">
        <div class="content slide-left-list">
            <div *ngFor="let item of menuList" class="menu-item {{item['photoUrl'] ? '' : 'no-photo'}}" [attr.data-target]="item['photoUrl']" style="--bg-image: url({{item['photoUrl']}});">
                <div class="txt-box {{item['costumers'] ? 'pb': ''}}">
                    <h2 class="font-title-sm cl-style-dk font-up mb-2">{{item['title']}}</h2>
                    <p class="font--sm mb-2">{{item['description']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
