<div class="container">
    <div class="content-box txt-center">
        <app-svg class="fade-in" [svgReference]="'brand'" [width]="216"></app-svg>
        <h2 class="font-title-lg cl-style-dk mb-3">Compartilhe sua experiência</h2>
        <div class="btn-box flex center slide-up-list">
            <a target="_blank" href="https://www.instagram.com/lentrecotedeparis/" class="flex df-border-lt font-uni-sm font-up pointer mr-3" aria-label="instagram"><app-svg [svgReference]="'instagram'" class="mr-1"></app-svg>Instagram</a>
            <a target="_blank" href="https://www.facebook.com/LEntrecoteDeParis/" class="flex df-border-lt font-uni-sm font-up pointer" aria-label="facebook"><app-svg [svgReference]="'facebook'" class="mr-1"></app-svg>Facebook</a>
        </div>
        <p class="font-sm mt-3">© Copyright {{getCurrentYear()}} L'Entrecôte de Paris - Feito com 🧡 por <a class="pointer font-sm underline-hover" target="_blank" href="https://hexah.com.br">Hexah Digital</a></p>
        <p class="font-sm mt-1">Todos os direitos reservados.</p>
    </div>
</div>
