.contact-section{padding: 80px 0 60px;
    .content{width: 100%;max-width: 700px;padding: var(--spc-4);margin: var(--spc-2) auto;background: var(--cl-ty);
        span,h1{color: var(--cl-style-lt)}
        .flex input:first-child{margin-right: var(--spc-2)}
    }
}

@media (max-width: 1680px) {
    .content{
        &:before{justify-content: center;}
        &:after{justify-content: center;}
    }
}

@media (max-width: 800px) {
    app-svg{max-width: 100%;
        svg{max-width: 100%;}
    }
    //.content{max-width: 100%;
    //    &:before{content: '';position: relative;left: -16px;width: calc(100% + var(--spc-4));min-height: 500px;background: url("../../../assets/img/contact-bg-1.avif") 50% 30% no-repeat;background-size: cover;margin-bottom: var(--spc-3);}
    //    &:after{content: '';position: relative;left: -16px;width: calc(100% + var(--spc-4));min-height: 330px;background: url("../../../assets/img/contact-bg-2.avif") 0 82% no-repeat;background-size: cover;margin: var(--spc-3) auto 0;}
    //}
}
