.contact-section{margin: 0 0 50px;
    .text-box{width: 100%; max-width: 250px;margin-right: var(--spc-6); margin-top: var(--spc-1)}
    .content{width: 100%;max-width: 700px;padding: 0 0 var(--spc-4);
        span,h1{color: var(--cl-py)}
        .flex input:first-child{margin-right: var(--spc-2)}
    }
}

@media (max-width: 750px) {
    .container.flex.b{display: block;
        .text-box{margin: 0 auto var(--spc-6);text-align: center;
            *{justify-content: center}
        }
        .content{margin: 0 auto;text-align: center;}
    }
}
