<div class="container">
    <div class="content-box center txt-center slide-up-list">
        <app-svg class="mb-5 fade-in" [svgReference]="'brand'" [width]="400"></app-svg>
        <div class="line-detail-dk center"></div>
        <h1 class="font-title-lg cl-style-dk txt-center mt-5 mb-3">OPS, PÁGINA NÃO ENCONTRADA!</h1>
        <p class="font-size-md txt-center mb-3">A página que você procura não existe ou o endereço foi digitado errado.</p>
        <div class="btn-box flex mb-5">
            <a [routerLink]="['/cardapio']" [href]="'/cardapio'" class="df-border-lt font-uni-sm font-up pointer">Conheça Nosso Cardápio</a>
            <a target="_blank" href="https://unidades.ls.aqis.com.br/" class="df-border-lt font-uni-sm font-up pointer">Conheça Nossas Unidades</a>
        </div>
    </div>
</div>
